.highlight_0 {
	margin: -1px;
	padding: 1px;
	background-color: #008787 !important;
	border-radius: 4px;
} 

.highlight_1 {
	margin: -1px;
	padding: 1px;
	background-color: #0087af !important;
	border-radius: 4px;
} 

.highlight_2 {
	margin: -1px;
	padding: 1px;
	background-color: #0087d7 !important;
	border-radius: 4px;
} 

.highlight_3 {
	margin: -1px;
	padding: 1px;
	background-color: #0087ff !important;
	border-radius: 4px;
} 

.highlight_4 {
	margin: -1px;
	padding: 1px;
	background-color: #00af00 !important;
	border-radius: 4px;
} 

.highlight_5 {
	margin: -1px;
	padding: 1px;
	background-color: #00af5f !important;
	border-radius: 4px;
} 

.highlight_6 {
	margin: -1px;
	padding: 1px;
	background-color: #00af87 !important;
	border-radius: 4px;
} 

.highlight_7 {
	margin: -1px;
	padding: 1px;
	background-color: #00afaf !important;
	border-radius: 4px;
} 

.highlight_8 {
	margin: -1px;
	padding: 1px;
	background-color: #00afd7 !important;
	border-radius: 4px;
} 

.highlight_9 {
	margin: -1px;
	padding: 1px;
	background-color: #00afff !important;
	border-radius: 4px;
} 

.highlight_10 {
	margin: -1px;
	padding: 1px;
	background-color: #00d700 !important;
	border-radius: 4px;
} 

.highlight_11 {
	margin: -1px;
	padding: 1px;
	background-color: #00d75f !important;
	border-radius: 4px;
} 

.highlight_12 {
	margin: -1px;
	padding: 1px;
	background-color: #00d787 !important;
	border-radius: 4px;
} 

.highlight_13 {
	margin: -1px;
	padding: 1px;
	background-color: #00d7af !important;
	border-radius: 4px;
} 

.highlight_14 {
	margin: -1px;
	padding: 1px;
	background-color: #00d7d7 !important;
	border-radius: 4px;
} 

.highlight_15 {
	margin: -1px;
	padding: 1px;
	background-color: #00d7ff !important;
	border-radius: 4px;
} 

.highlight_16 {
	margin: -1px;
	padding: 1px;
	background-color: #00ff00 !important;
	border-radius: 4px;
} 

.highlight_17 {
	margin: -1px;
	padding: 1px;
	background-color: #00ff5f !important;
	border-radius: 4px;
} 

.highlight_18 {
	margin: -1px;
	padding: 1px;
	background-color: #00ff87 !important;
	border-radius: 4px;
} 

.highlight_19 {
	margin: -1px;
	padding: 1px;
	background-color: #00ffaf !important;
	border-radius: 4px;
} 

.highlight_20 {
	margin: -1px;
	padding: 1px;
	background-color: #00ffd7 !important;
	border-radius: 4px;
} 

.highlight_21 {
	margin: -1px;
	padding: 1px;
	background-color: #00ffff !important;
	border-radius: 4px;
} 

.highlight_22 {
	margin: -1px;
	padding: 1px;
	background-color: #5f875f !important;
	border-radius: 4px;
} 

.highlight_23 {
	margin: -1px;
	padding: 1px;
	background-color: #5f8787 !important;
	border-radius: 4px;
} 

.highlight_24 {
	margin: -1px;
	padding: 1px;
	background-color: #5f87af !important;
	border-radius: 4px;
} 

.highlight_25 {
	margin: -1px;
	padding: 1px;
	background-color: #5f87d7 !important;
	border-radius: 4px;
} 

.highlight_26 {
	margin: -1px;
	padding: 1px;
	background-color: #5f87ff !important;
	border-radius: 4px;
} 

.highlight_27 {
	margin: -1px;
	padding: 1px;
	background-color: #5faf00 !important;
	border-radius: 4px;
} 

.highlight_28 {
	margin: -1px;
	padding: 1px;
	background-color: #5faf5f !important;
	border-radius: 4px;
} 

.highlight_29 {
	margin: -1px;
	padding: 1px;
	background-color: #5faf87 !important;
	border-radius: 4px;
} 

.highlight_30 {
	margin: -1px;
	padding: 1px;
	background-color: #5fafaf !important;
	border-radius: 4px;
} 

.highlight_31 {
	margin: -1px;
	padding: 1px;
	background-color: #5fafd7 !important;
	border-radius: 4px;
} 

.highlight_32 {
	margin: -1px;
	padding: 1px;
	background-color: #5fafff !important;
	border-radius: 4px;
} 

.highlight_33 {
	margin: -1px;
	padding: 1px;
	background-color: #5fd700 !important;
	border-radius: 4px;
} 

.highlight_34 {
	margin: -1px;
	padding: 1px;
	background-color: #5fd75f !important;
	border-radius: 4px;
} 

.highlight_35 {
	margin: -1px;
	padding: 1px;
	background-color: #5fd787 !important;
	border-radius: 4px;
} 

.highlight_36 {
	margin: -1px;
	padding: 1px;
	background-color: #5fd7af !important;
	border-radius: 4px;
} 

.highlight_37 {
	margin: -1px;
	padding: 1px;
	background-color: #5fd7d7 !important;
	border-radius: 4px;
} 

.highlight_38 {
	margin: -1px;
	padding: 1px;
	background-color: #5fd7ff !important;
	border-radius: 4px;
} 

.highlight_39 {
	margin: -1px;
	padding: 1px;
	background-color: #5fff00 !important;
	border-radius: 4px;
} 

.highlight_40 {
	margin: -1px;
	padding: 1px;
	background-color: #5fff5f !important;
	border-radius: 4px;
} 

.highlight_41 {
	margin: -1px;
	padding: 1px;
	background-color: #5fff87 !important;
	border-radius: 4px;
} 

.highlight_42 {
	margin: -1px;
	padding: 1px;
	background-color: #5fffaf !important;
	border-radius: 4px;
} 

.highlight_43 {
	margin: -1px;
	padding: 1px;
	background-color: #5fffd7 !important;
	border-radius: 4px;
} 

.highlight_44 {
	margin: -1px;
	padding: 1px;
	background-color: #5fffff !important;
	border-radius: 4px;
} 

.highlight_45 {
	margin: -1px;
	padding: 1px;
	background-color: #875faf !important;
	border-radius: 4px;
} 

.highlight_46 {
	margin: -1px;
	padding: 1px;
	background-color: #875fd7 !important;
	border-radius: 4px;
} 

.highlight_47 {
	margin: -1px;
	padding: 1px;
	background-color: #875fff !important;
	border-radius: 4px;
} 

.highlight_48 {
	margin: -1px;
	padding: 1px;
	background-color: #878700 !important;
	border-radius: 4px;
} 

.highlight_49 {
	margin: -1px;
	padding: 1px;
	background-color: #87875f !important;
	border-radius: 4px;
} 

.highlight_50 {
	margin: -1px;
	padding: 1px;
	background-color: #878787 !important;
	border-radius: 4px;
} 

.highlight_51 {
	margin: -1px;
	padding: 1px;
	background-color: #8787af !important;
	border-radius: 4px;
} 

.highlight_52 {
	margin: -1px;
	padding: 1px;
	background-color: #8787d7 !important;
	border-radius: 4px;
} 

.highlight_53 {
	margin: -1px;
	padding: 1px;
	background-color: #8787ff !important;
	border-radius: 4px;
} 

.highlight_54 {
	margin: -1px;
	padding: 1px;
	background-color: #87af00 !important;
	border-radius: 4px;
} 

.highlight_55 {
	margin: -1px;
	padding: 1px;
	background-color: #87af5f !important;
	border-radius: 4px;
} 

.highlight_56 {
	margin: -1px;
	padding: 1px;
	background-color: #87af87 !important;
	border-radius: 4px;
} 

.highlight_57 {
	margin: -1px;
	padding: 1px;
	background-color: #87afaf !important;
	border-radius: 4px;
} 

.highlight_58 {
	margin: -1px;
	padding: 1px;
	background-color: #87afd7 !important;
	border-radius: 4px;
} 

.highlight_59 {
	margin: -1px;
	padding: 1px;
	background-color: #87afff !important;
	border-radius: 4px;
} 

.highlight_60 {
	margin: -1px;
	padding: 1px;
	background-color: #87d700 !important;
	border-radius: 4px;
} 

.highlight_61 {
	margin: -1px;
	padding: 1px;
	background-color: #87d75f !important;
	border-radius: 4px;
} 

.highlight_62 {
	margin: -1px;
	padding: 1px;
	background-color: #87d787 !important;
	border-radius: 4px;
} 

.highlight_63 {
	margin: -1px;
	padding: 1px;
	background-color: #87d7af !important;
	border-radius: 4px;
} 

.highlight_64 {
	margin: -1px;
	padding: 1px;
	background-color: #87d7d7 !important;
	border-radius: 4px;
} 

.highlight_65 {
	margin: -1px;
	padding: 1px;
	background-color: #87d7ff !important;
	border-radius: 4px;
} 

.highlight_66 {
	margin: -1px;
	padding: 1px;
	background-color: #87ff00 !important;
	border-radius: 4px;
} 

.highlight_67 {
	margin: -1px;
	padding: 1px;
	background-color: #87ff5f !important;
	border-radius: 4px;
} 

.highlight_68 {
	margin: -1px;
	padding: 1px;
	background-color: #87ff87 !important;
	border-radius: 4px;
} 

.highlight_69 {
	margin: -1px;
	padding: 1px;
	background-color: #87ffaf !important;
	border-radius: 4px;
} 

.highlight_70 {
	margin: -1px;
	padding: 1px;
	background-color: #87ffd7 !important;
	border-radius: 4px;
} 

.highlight_71 {
	margin: -1px;
	padding: 1px;
	background-color: #87ffff !important;
	border-radius: 4px;
} 

.highlight_72 {
	margin: -1px;
	padding: 1px;
	background-color: #af5f5f !important;
	border-radius: 4px;
} 

.highlight_73 {
	margin: -1px;
	padding: 1px;
	background-color: #af5f87 !important;
	border-radius: 4px;
} 

.highlight_74 {
	margin: -1px;
	padding: 1px;
	background-color: #af5faf !important;
	border-radius: 4px;
} 

.highlight_75 {
	margin: -1px;
	padding: 1px;
	background-color: #af5fd7 !important;
	border-radius: 4px;
} 

.highlight_76 {
	margin: -1px;
	padding: 1px;
	background-color: #af5fff !important;
	border-radius: 4px;
} 

.highlight_77 {
	margin: -1px;
	padding: 1px;
	background-color: #af8700 !important;
	border-radius: 4px;
} 

.highlight_78 {
	margin: -1px;
	padding: 1px;
	background-color: #af875f !important;
	border-radius: 4px;
} 

.highlight_79 {
	margin: -1px;
	padding: 1px;
	background-color: #af8787 !important;
	border-radius: 4px;
} 

.highlight_80 {
	margin: -1px;
	padding: 1px;
	background-color: #af87af !important;
	border-radius: 4px;
} 

.highlight_81 {
	margin: -1px;
	padding: 1px;
	background-color: #af87d7 !important;
	border-radius: 4px;
} 

.highlight_82 {
	margin: -1px;
	padding: 1px;
	background-color: #af87ff !important;
	border-radius: 4px;
} 

.highlight_83 {
	margin: -1px;
	padding: 1px;
	background-color: #afaf00 !important;
	border-radius: 4px;
} 

.highlight_84 {
	margin: -1px;
	padding: 1px;
	background-color: #afaf5f !important;
	border-radius: 4px;
} 

.highlight_85 {
	margin: -1px;
	padding: 1px;
	background-color: #afaf87 !important;
	border-radius: 4px;
} 

.highlight_86 {
	margin: -1px;
	padding: 1px;
	background-color: #afafaf !important;
	border-radius: 4px;
} 

.highlight_87 {
	margin: -1px;
	padding: 1px;
	background-color: #afafd7 !important;
	border-radius: 4px;
} 

.highlight_88 {
	margin: -1px;
	padding: 1px;
	background-color: #afafff !important;
	border-radius: 4px;
} 

.highlight_89 {
	margin: -1px;
	padding: 1px;
	background-color: #afd700 !important;
	border-radius: 4px;
} 

.highlight_90 {
	margin: -1px;
	padding: 1px;
	background-color: #afd75f !important;
	border-radius: 4px;
} 

.highlight_91 {
	margin: -1px;
	padding: 1px;
	background-color: #afd787 !important;
	border-radius: 4px;
} 

.highlight_92 {
	margin: -1px;
	padding: 1px;
	background-color: #afd7af !important;
	border-radius: 4px;
} 

.highlight_93 {
	margin: -1px;
	padding: 1px;
	background-color: #afd7d7 !important;
	border-radius: 4px;
} 

.highlight_94 {
	margin: -1px;
	padding: 1px;
	background-color: #afd7ff !important;
	border-radius: 4px;
} 

.highlight_95 {
	margin: -1px;
	padding: 1px;
	background-color: #afff00 !important;
	border-radius: 4px;
} 

.highlight_96 {
	margin: -1px;
	padding: 1px;
	background-color: #afff5f !important;
	border-radius: 4px;
} 

.highlight_97 {
	margin: -1px;
	padding: 1px;
	background-color: #afff87 !important;
	border-radius: 4px;
} 

.highlight_98 {
	margin: -1px;
	padding: 1px;
	background-color: #afffaf !important;
	border-radius: 4px;
} 

.highlight_99 {
	margin: -1px;
	padding: 1px;
	background-color: #afffd7 !important;
	border-radius: 4px;
} 

.highlight_100 {
	margin: -1px;
	padding: 1px;
	background-color: #afffff !important;
	border-radius: 4px;
} 

.highlight_101 {
	margin: -1px;
	padding: 1px;
	background-color: #d75f5f !important;
	border-radius: 4px;
} 

